@media screen and (max-width: 379px) {
    .glyphicon{
        margin-right: 2%;
    }
}

@media screen and (max-width: 768px) {
    .carrito{
        display: none;
        -webkit-box-shadow: -1px 6px 22px 14px rgba(0,0,0,0.69);
        -moz-box-shadow: -1px 6px 22px 14px rgba(0,0,0,0.69);
        box-shadow: -1px 6px 22px 14px rgba(0,0,0,0.69);
    }
}



