@media screen and (max-width: 768px) {
    .container-fluid>.carrito{
        background-color: white;
        display: none;
        position: fixed;
        top: 15%;
        left: 4%;
        width: 92%;
        z-index: 3;
    }
}/*esto puede ir en style.css porque tengo otro div con 'carrito.jsp'*/


@media screen and (max-width: 379px) {
    .glyphicon{
        margin-right: 2%;
    }
}
