body{
    background-color: #ECECEC;
}

.divProdu{
    background-color: white;
}

.header{
    height: 70px;
    background-color: #E4E4E4;
    padding-bottom: 10px;
}

.container-fluid>.carrito{
    top: 70px;
}

.header>div:last-child{
    /*icono usuario*/
    font-size: 260%;
    margin-top: 18px;
}

.busqueda>div:first-child{
    padding-top: 20px;
}

.cambiarVistaCuad{
    display: none;
}

.cambiarVistaLista,.cambiarVistaCuad{
    font-size: 200%;
}

.productos .hidden-xs{
    margin-top: 20px;
}

.productos{
    border-right: 2px #E4E4E4 solid;
}

.productos>div:first-child{
    background-color: #ECECEC;
}

.productos .hidden-lg{
    /*icono de carrito para pantallas pequeñas*/
    z-index: 2;
    right: 0
}

input[type='number']{
    width: 100%;
}

.iconoCarrito{
    font-size: 260%;
    margin-top: 17px;
    padding-right: 2px;
}

.appWrapper>.row>.carrito{
    position: fixed;
    right: 0;
}

.appWrapper>.row>.carrito>div:first-child{
    background-color: #ECECEC;
    margin-bottom: 8%;
}

.ProCar{
    padding-bottom: 5%;
}

.appWrapper>.row>.carrito>div:last-child{
    padding-top: 6%;
}

.appWrapper>.row>.carrito>div:nth-child(3){
    padding-top: 10%;
}

.infoCompraPro .pull-left{
    padding-right: 1%;
}

.carrito{
    padding-bottom: 35px;
    background-color: white;
    /*height: 100%;*/
}

.container-fluid>.carrito{
    background-color: white;
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 3;
}

.container-fluid>.carrito>.row:first-child{
    background-color: #ECECEC;
}

.cuantia,input{
    text-align: right;
}

.cerrarCarroPeq{
    font-size: 170%;
    margin-top: 20px;
}

.headerProductos{
    height: 62px;
}

.busqueda{
    height: 70px;
    background-color: white;
}

.nombre{
    font-size: 1.2em;
    font-weight: bold;
}

.divProdu{
    padding-bottom: 70px;
    padding-top: 30px
}

/*----------*/

.fijarApp{
    position: fixed;
}

/* ------- Interior de los productos -------- */

.producto{
    padding-top: 25px;
    height: 240px;
}

.bloqAnadir{
    position: absolute;
    bottom: 0
}

.precio,.cuantia,.unidades,.cantidad,.descripcionPro{
    padding-top: 7px;
}

.nombre{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 25px;
    white-space: nowrap; 
}

.descripcionPro{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
    white-space: nowrap;
}

.ampliaDescrip{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
    white-space: nowrap;
}

/* ---------- footer ----------- */

footer{
    height: 62px;
    background-color: #ECECEC;
    font-size: 1.5em;
}

footer>div{
    margin-top: 15px;
}

