.header{
    background-color: #E4E4E4;
    padding-bottom: 1vh;
}

.header>div:last-child{
    font-size: 260%;
    margin-top: 2vh;
}

.busqueda>div:first-child{
    padding-top: 3%;
}

.cambiarVistaCuad{
    display: none;
}

.cambiarVistaLista,.cambiarVistaCuad{
    font-size: 200%;
}

.productos .hidden-xs{
    margin-top: 2vh;
}

.productos{
    border-right: 2px #E4E4E4 solid;
}

.productos>div:first-child{
    background-color: #ECECEC;
}

.productos .hidden-lg{
    /*icono de carrito para pantallas pequeñas*/
    z-index: 2;
    right: 0
}

.producto{
    padding-top: 3%;
    padding-bottom: 3%;
}

input[type='number']{
    width: 100%;
}

.nombre{
    padding-top: 2%;
    padding-bottom: 2%;
}

.producto>div:nth-child(2){
    padding-top: 2%;
    padding-bottom: 2%;
}

.producto>div:last-child>div:first-child{
    padding-top: 2%;
    padding-bottom: 3%;
}

.iconoCarrito{
    font-size: 260%;
    margin-top: 2vh;
    padding-right: 2px;
}

.appWrapper>.row>.carrito{
    position: fixed;
    right: 0;
}

.appWrapper>.row>.carrito>div:first-child{
    background-color: #ECECEC;
    margin-bottom: 8%;
}

.ProCar{
    padding-bottom: 5%;
}

.appWrapper>.row>.carrito>div:last-child{
    padding-top: 6%;
}

.appWrapper>.row>.carrito>div:nth-child(3){
    padding-top: 10%;
}

.infoCompraPro .pull-left{
    padding-right: 1%;
}

.carrito{
    padding-bottom: 5%;
}

.container-fluid>.carrito{
    display: none;
}

/*----------*/

.fijarApp{
    position: fixed;
}
