.header{
    background-color: #E4E4E4;
    padding-bottom: 1%;
}

.productos{
    border-right: 1px #E4E4E4 solid;
}

.productos>div:first-child{
    background-color: #ECECEC;
}

.producto{
    padding-top: 3%;
    padding-bottom: 3%;
}

input[type='number']{
    width: 100%;
}

.nombre{
    padding-top: 2%;
    padding-bottom: 2%;
}

.producto>div:nth-child(2){
    padding-top: 2%;
    padding-bottom: 2%;
}

.producto>div:last-child>div:first-child{
    padding-top: 2%;
    padding-bottom: 3%;
}

.carrito{
    position: fixed;
    right: 0;
}

.carrito>div:first-child{
    background-color: #ECECEC;
}

.ProCar{
    padding-bottom: 5%;
}

.carrito>div:last-child{
    padding-top: 6%;
}

.carrito>div:nth-child(3){
    padding-top: 10%;
}

.infoCompraPro .pull-left{
    padding-right: 1%;
}


